
{% extends 'restaurante/base.html' %}
    {% block content %}
        <div class="container">
            <h2>{% if mesa %}Editar Mesa{% else %}Crear Mesa{% endif %}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="number" class="form-control" id="numero" name="numero" value="{% if mesa %}{{ mesa.numero }}{% endif %}" required>
                </div>
                <button type="submit" class="btn btn-primary">{% if mesa %}Actualizar{% else %}Crear{% endif %}</button>
            </form>
        </div>
    {% endblock %}