{% extends 'restaurante/base.html' %}
    {% block content %}
        <div class="container">
            <h2>Lista de Mesas</h2>
            <a href="{% url 'mesas_create' %}" class="btn btn-primary mb-3">Crear Mesa</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Número</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mesa in mesas %}
                    <tr>
                        <td>{{ mesa.id }}</td>
                        <td>{{ mesa.numero }}</td>
                        <td>
                            <a href="{% url 'mesas_update' mesa.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'mesas_delete' mesa.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
