
{% extends 'restaurante/base.html' %}
    {% block content %}
        <div class="container">
            <h2>Lista de Meseros</h2>
            <a href="{% url 'meseros_create' %}" class="btn btn-primary mb-3">Nuevo Mesero</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mesero in meseros %}
                    <tr>
                        <td>{{ mesero.nombre }}</td>
                        <td>{{ mesero.apellido }}</td>
                        <td>{{ mesero.telefono }}</td>
                        <td>
                            <a href="{% url 'meseros_update' mesero.id %}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{% url 'meseros_delete' mesero.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay meseros registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}